.cof-top
    img(src="/static/img/icons/iconmen.png", alt="").cof-top__decore.cof-top__decore-men
    img(src="/static/img/icons/icongirl.svg", alt="").cof-top__decore.cof-top__decore-girl
    .cof-top__inner.containner-pad
        p.cof-top__big-text.title!=app.cof_top.big_text
        h1.cof-top__title!=app.cof_top.title
        p.cof-top__sub-title!=app.cof_top.sub_title
        .cof-top__btn-wr
            a(href="").cof-top__btn Sign in to cof
        .cof-top__list
            p.title.cof-top__text!=app.cof_top.list.title
            .history-container.cof-top__history
                .history-container__item.history-container__item_ok
                    p.history-container__title!=app.cof_top.list.li_1
                .history-container__item.history-container__item_ok
                    p.history-container__title!=app.cof_top.list.li_2
                .history-container__item.history-container__item_ok
                    p.history-container__title!=app.cof_top.list.li_3
                .history-container__item.history-container__item_ok
                    p.history-container__title!=app.cof_top.list.li_4




