.investors.containner-pad
    h3.investors__title.title!=app.investors.title
    .investors__inner
        .investors__item
            p.investors__text!=app.investors.li_1
        .investors__item
            p.investors__text!=app.investors.li_2
        .investors__item
            p.investors__text!=app.investors.li_3
        
.calculate
    h3.calculate__title.title!=app.calculate.title
    p.calculate__description!=app.calculate.description