.smartContract.containner-pad
    .smartContract__inner
        .smart-item.smart-item_1
            span.smart-item__number 1
            p.smart-item__text!=app.howItWorks.smartContractItems1 
        .smart-item.smart-item_2
            span.smart-item__number 2
            p.smart-item__text!=app.howItWorks.smartContractItems2
        .smart-item.smart-item_3
            span.smart-item__number 3
            p.smart-item__text!=app.howItWorks.smartContractItems3
        .smart-item.smart-item_4
            span.smart-item__number 4
            p.smart-item__text!=app.howItWorks.smartContractItems4
        .smart-item.smart-item_5
            span.smart-item__number 5
            p.smart-item__text!=app.howItWorks.smartContractItems5